.blackOut{
    height: 100vh;
    width: 100%;
    position: absolute;
    background:rgba(0, 0, 0, 0.77);
}

.blackout{
    background: rgba(0, 0, 0, 0.77);
    filter: brightness(0.3);
}

.visibility{
    display:block!important;
}

.transparency{
    opacity: 0.3;
}

.invisible{
    display: none !important;
}

.filter{
    filter: brightness(0.3);
}

.borderKill{
    border: none;
}