@media(max-width:1160px){
    .right__part{
        display: flex;
    }
    .left_and_right{
        flex-direction: column;
    }
    .product_card__right{
        width:100%
    }
    .product_card button{
        right:5%;
    }
    .buttons{
        padding: 10% 15% 0 15%;
        width: auto;
    }
    .registration_payment form{
        position: relative;
    }
    .totalprice{
        position: absolute;
        right: 0;
        margin: 0;
    }
    .footer_top {
        height: 693px;
    }
    .footer__wrap {               
          flex-direction: column;
    }
    .footer_left_top {
        margin-top: 53px;
    }
    .footer_img {
        margin-left: 32%;
    }
    .footer_right_top {
        padding: 0;
        margin-top: 48px;
    }
}



@media(max-width:670px){
    .item {
        display: none;
      }
    .shop{
        display:flex;
        justify-content: center;
    }
    .buttons{
        width:auto;
        padding: 30px 0 0 0;
    }
    .buttons .btn_right a{
        padding: 10px 18px;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #575757;
    }
    .buttons .btn_left a{
        padding: 10px 18px;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #575757;
    }
    .btn_right{
        margin-right: 10px;
    }
    .registration_payment{
        padding-top: 48px;
    }
    .product_card{
        height: 188px;
    }
    .product_card h3{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: #222222;
    }
    .product_card ul{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        padding-top: 10px;
        color: #575757;
    }
    .product_card li{
        margin-top: 4px;
    }
    .product_card__left{
        width: 144px;
    }
    .product_card__left img{
        width: 144px;
        height: 188px;
    }
    .right__part{
        display: flex;
        flex-direction: column;
    }
    .registration_payment form{
        position: static;
    }
    .registration_payment form fieldset{
        object-fit: cover;
        width: 360px;
        display: inline-block;
    }
    .totalprice{
        position: static;
        margin-top: 48px;
        width: 100%;
    }
    .footer_top {
        height: 550px;
      }
      .footer_bottom__wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .footer_img {
        margin-left: 35%;
      }
      .footer_bottom_left {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 40px;
        margin-bottom: 9px;
        padding: 0;
      }
      .footer_bottom_right {
        margin-top: 20px;
      }

}



